/*  ESTILO GERAL  */
body {
    font-family: Arial, sans-serif;
    background-color: #0b0b0b;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

/*  TÍTULO E PARÁGRAFO  */
h2 {
    color: #00ff55;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}

p {
    text-align: center;
    color: #ccc;
    margin: 20px;
}

.preco {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px;
}

/*  FORMULÁRIO  */
.form-assinatura {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #1b1b1b;
    color: #ffffff;
}



/*  BOTÃO  */
.botao {
    padding: 12px;
    background-color: #00ff55;
    border-radius: 6px;
    cursor: pointer;
    
}

.botao:hover {
    background-color: #a6ff7f;
}



