body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color:      #508938;
    ;
    color: #858080
    ;   
    
}





h1, h2, h3 {
    margin: 0;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

/* CABEÇALHO  */
.cabecalho {
    position: relative;
    height: 100vh;          
    color: rgb(249, 249, 249);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.7);
}

.logo-container {       
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
}

.titulo-logo {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
}

.menu a:hover {
    color: #a6ff7f;
   
}

/* BANNER PRINCIPAL  */
.banner {
    display: flex;
    align-items: center;
    height: 85%;
    text-align: center;
    padding: 0 100px;
    width: 800px;


    
}
.card_inicio{
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    width: 500px ;
    height: 300px;
    align-items: center;
    margin-left: 50%;
    box-shadow: 15px 30px 30px  rgba(0,0,0,0.20);
    

   
    
   
    
   

}


.card_inicio h2 {
    font-size: 2.2rem;
    color: #98cc96;

}

.card_inicio p {
    font-size: 1.1rem;
   
}


.banner-texto h2 {
    font-size: 2.7rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}   

.banner-texto p {
    font-size: 1.8rem;
    margin-bottom: 25px;
}
.imagem-inicio {
    display: flex;
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 70%;
    box-shadow: 15px 20px 30px  rgba(0,0,0,0.20);
    
    

}





.botao {
    background: #a6ff7f;
    color: #000;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
    display: inline-block;
}

.botao:hover {
    background: #7fe065;
}

/* PLANOS  */
.planos {
    text-align: center;
    padding: 80px 20px;
    background-color: #fff;
}

.container-planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card { 
    font-size: 1.2rem;
    background: #1a1a1a;
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s;
    border: 2px solid #a6ff7f;
}



.card:hover {
    transform: translateY(-8px);
}



.preco {
    display: block;
    font-size: 1.3rem;
    margin: 15px 0;
}

/*  SOBRE  */
.sobre {
    text-align: center;
    padding: 80px 20px;
    background: #f2f2f2;
}

.imagem-sobre {
    width: 430px;
    border-radius: 20px;
    margin-top: 20px;
}

/* CONTATO  */
.contato {
    text-align: center;
    padding: 80px 20px;
    background: #1a1a1a;
    color: white;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

button.botao {
    
    cursor: pointer;
}

/*  RODAPÉ */
.rodape {
    text-align: center;
    background: #0d0d0d;
    color: #222;
    padding: 20px;
}
